/* WebContent > css > main.css */

.container {
	width: 700px;
}

.header {
	border-bottom: 1px solid #DDD;
	margin-top: 30px;
	margin-bottom: 30px;
}

.content .table.add th {
	width: 120px;
}
.content .table.add td {
	width: 580px;
}
.content .short {
	width: 120px;
}